$bgColor: #979797;
$priColor: #44378E;
$secColor: #F5E7DC;
$trdColor: #FEDDF4;
$frdColor: #EA5830;

%montserratt{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 2rem;
  }

  @mixin fontfamily($f,$s,$sub,$w) {
    font-family: $f;
    font-weight: $w;
    @include fontsize($s,$sub);
  }

  @mixin montserrat($s,$sub,$w) {
    @include fontfamily(Montserrat,$s,$sub,$w);
  }

  @mixin ivymode($s,$sub,$w) {
    @include fontfamily(Ivy mode,$s,$sub,$w);
  }

  //LaLuxesSerifW05-Regular

  @mixin fontsize($s,$sub) {
    font-size: $s;
    @media (max-width: 768px){
        font-size: $s - $sub;
        
    }
  }
  
  @mixin margin-class($side, $number) {
    $firstLetter: str-slice($side, 0, 1);
    .m-#{$firstLetter}-#{$number}{
       margin-#{$side}: #{$number}rem;
    }
  }
  
  $margins: (0, 20);
  $sides: ("top", "right", "bottom", "left");
  @mixin generate-margin(){
    @for $margin from 1 through 20 {
        @each $side in $sides{
          @include margin-class($side, $margin);
        }
     }
  }
  
  :root{
    @include generate-margin();  
  }

